:root {
    font-family: system-ui, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: light-dark(rgba(0, 24, 36, 0.84), rgba(255, 248, 255, 0.84));
    background-color: light-dark(#fff, #242424);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scrollbar-gutter: stable both-edges;

    --accent: #24fc89;
    --contrast: #325;
    --hover: light-dark(#2b9, #2b3);
    --interact: light-dark(#efe, #325);
    --card: light-dark(#eee, #333);
}

a {
    font-weight: 500;
    color: var(--accent);
    text-decoration: underline;
    text-underline-offset: 4px;
}
a:hover {
    color: var(--hover);
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    padding: 0 0.5rem 2rem;
    width: 100%;
    box-sizing: border-box;
}

header {
    padding: 0.5em 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    hr {
        border: none;
    }

    button.active {
        background-color: var(--accent);
        color: var(--contrast);
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

ul {
    margin: 1rem 0;
    padding-left: 1rem;

    li {
        padding-left: 0.5rem;
        list-style-type: "– ";
    }

    li + li {
        margin-top: 1rem;
    }
}

h1 {
    font-size: 1.25rem;
    font-weight: 350;
    line-height: 1.5rem;
    padding: 0.125rem 0;
    margin: 0;
}

h2 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0;
    padding: 0.5rem 0 0.25rem;
}

h3 {
    font-size: 1rem;
    font-weight: 800;
    line-height: 1rem;
    margin: 0;
    padding: 0.5rem 0 0.25rem;
}

button {
    border-radius: 4px;
    border: 2px solid transparent;
    padding: 0.25em 0.5em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--card);
    /*cursor: pointer;*/
    transition: border-color 0.25s;
    accent-color: var(--accent);

    &:disabled {
        cursor: not-allowed;
    }
    &:hover:not(:disabled) {
        border-color: var(--accent);
    }
    &:focus,
    &:focus-visible {
        outline: 4px auto var(--hover);
    }
}

input {
    accent-color: var(--accent);

    label:has(&) {
        cursor: pointer;
    }

    &[type="radio"],
    [type="checkbox"] {
        cursor: pointer;
        margin: 0 0.25rem 0 0;
        position: relative;
    }
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
    /*border-radius: 4px;*/
    /*border: 2px solid var(--card);*/
    display: flex;
    align-items: center;
    gap: 1rem;

    hr {
        border: none;
        flex-grow: 1;
        border-top: 2px solid var(--card);
    }

    .count {
        font-variant-numeric: tabular-nums;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        background-color: var(--card);
    }
}

#todos {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .todo {
        padding: 0.5rem;
        border: 2px solid currentColor;
        border-radius: 4px;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        animation: 360ms ease-out both;
        animation-name: bounce;

        gap: 1em;

        h4 {
            font-size: 1rem;
            font-weight: inherit;
            line-height: 1rem;
            margin: 0;
            padding: 0;
        }

        &[data-status="todo"] {
            animation-name: bounce, appear;
        }

        &[data-status="done"] {
            opacity: 0.72;

            h4 {
                text-decoration: line-through;
            }
        }

        &[data-priority="low"] {
            border-color: var(--card);
        }

        &[data-priority="high"] {
            border-color: var(--accent);
        }

        .control {
            display: flex;
            justify-content: space-between;

            label:has([type="radio"]:not(:checked)) {
                opacity: 0.72;
            }
        }
    }
}

@keyframes bounce {
    from {
        scale: 0.86;
    }
    42% {
        scale: 1.06;
    }
}

@keyframes appear {
    from {
        color: var(--contrast);
    }
}
